# Godot 4+ specific ignores
.godot/
/android/
.idea/.idea.So you WANNA Jam 2025/.idea/.name
# Default ignored files Rider
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.So You WANNA Jam 2025.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/.idea.So You WANNA Jam 2025/.idea/workspace.xml
